@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add Engineer for Machine</h1>
<hr />
<h3>@Model.Name, @Model.Function, @Model.ConstructionDate</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")

    <input type="submit" value="Save" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back to Machine List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>