@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Add Machine for Engineer to Repair</h1>
<hr />
<h3>@Model.FirstName @Model.LastName</h3>

@using (Html.BeginForm())
{

    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId", null, new {@class = "form-control"})

    <input type="submit" value="Save" class="btn btn-primary" />
}

<p>@Html.ActionLink("Back to Engineer List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>